@model IEnumerable<PrestoCommon.EntityHelperClasses.InstallationSummaryDto>

<ul data-role="listview" @*data-filter="true"*@ data-count-theme="c" data-inset="true" data-divider-theme="d">
    @foreach (var install in Model)
    { 
        <li>
            @install.ApplicationName<br />
            @install.ServerName<br />
            @install.InstallationStart - @install.InstallationEnd<br/>
            @install.Result
        </li>
    }
</ul>